:root {
  --bg: #F8F4EC; //light beige
  --text: #1A1A1A;
  --muted: #555555;
  --brand: #375A49; //dark green
  --brand-light: #9BBFA3; //lighter green
  --brand-hover: #4E8071; //green hover
  --border: #E0DCD3; //dark beige
  --surface: #FCFAF7; //buttons
}

html, body {
  background-color: var(--bg);
  margin: 0;
}

header {
  padding: 10px;
  font-family: "Inter", "Helvetica Neue", Arial, sans-serif;
  border-bottom: 2px solid #E0DCD3; 
  width: 95%;
  margin: 0 auto;
  position: sticky;
  top:0;
  background: var(--bg);
}

main {
  width: 100%;
  color: #1A1A1A;
}

section {
  margin-left: 15%;
  margin-right: 15%;
  font-family: "Lora", Georgia, serif;
}

h1, h2 {
  font-family: "Inter", "Helvetica Neue", Arial, sans-serif;
  font-weight: 500;
}

.header-inner {
  display: flex; 
  align-items: center; 
  justify-content: space-between;
  padding: .75rem 0;
}

.logo-img {
	width: 40px;
	height: 40px;
}

.brand-text {
  color: navy;
  font-size: 16pt;
  font-weight: 600;
}

.navbar {
  padding: 0.75rem 1.5rem;
}

.nav-list {
  display: flex;
  justify-content: center;  
  align-items: center;
  gap: 2rem;       
  list-style: none;
  margin: 0;
  padding: 0;
  color: #1A1A1A;
}


.nav-list a {
  text-decoration: none;
  color: #1A1A1A;
  font-weight: 500;
  transition: color 0.2s ease;
  border-bottom: 1px solid #1A1A1A;
}


.nav-list a:hover,
.nav-list a:focus {
  color: #375A49;
  border-bottom: 1px solid #375A49; 
}

footer {
  color: #1A1A1A;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 2px solid #E0DCD3; 
  border-left: 0;
  border-right: 0;
  width: 95%;
  margin: 0 auto;
  padding: 10px;
  font-family: "Inter", "Helvetica Neue", Arial, sans-serif;
}

